table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;

  }
  
  tr:nth-child(even){
    background-color: white;}

  tr:nth-child(odd){
    background-color : hsl(194, 78%, 87%);
  }
  th {
    background-color: blue;
    /*color: white;*/
  }

  body{
    background-color:#67B7D1;
  }